body {
   padding: 0;
   margin: 0;
   font-family: Helvetica, Arail, sans-serif;
   background-color:#f7f7f7;
}

header {
   background:#e0e0e0;
   color:#555;
   padding:2em 0;
   background: rgb(239,239,239); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

header .sub-header {
   color:#aaa;
   margin-left:1em;
   float:right
}
.page {
   max-width: 620px;
   margin: 0 auto;
   padding: 0 40px;
   position: relative;
}

@media (max-width: 600px) {
   header {
      padding:1em 0;
   }
}

#leader {
   padding: 0.5em 0;
   background: white;
   box-shadow: 0 1px 13px rgba(0,0,0,0.2);
}

header,
#leader {
}

#notices,
#services {
   list-style-type:none;
   padding-left:0;
}
@media (min-width: 601px) {
   #services {
      padding-left:1em;
   }
}

/*********************************************
 * Services
 */

#services {
   padding: 0.5em 0;
}
.service {
   display:inline-block;
   margin:0.5em;
   padding:0.5em;
   border: 1px solid rgba(0,0,0,0.2);
   border-radius:5px;
   color:#555;
   min-width:12em;
}

@media (max-width: 600px) {
   #services {
      padding:0;
   }

   .service {
      display:block;
      margin-right:1em;
   }
}

.service > .name {
   padding-right:2em;
   float:left;
}
.service > .state {
   float:right;
}

.service.available {
   background: #efe;
   border-color: #5d5;
}
.service.available > .state {
   color:#2a2;
}

.service.unavailable {
   background: #fee;
   border-color: #f99;
}
.service.unavailable > .state {
   color:#f22;
}

.service.partial {
   background: #fff0e0;
   border-color: #fb9;
}
.service.partial > .state {
   color:#f82;
}

/*********************************************
 * Notices
 */

#notices {
   padding-top:1em;
   padding-left:0;
}
.notice {
   padding: 1em;
   border-bottom: 1px solid #f0f0f0;
   padding-left:2em;
   color:#444;
}
@media (max-width: 600px) {
   .notice {
      padding-left:1em;
   }
}

.notice > time {
   font-family: monospace;
   font-size:1.2em;
   color:#AAA;
   padding-right:1em;
   margin-bottom:0.3em;
}

@media (max-width: 600px) {
   .notice > time {
      display:block;
   }

   .notice {
      border-color: #ddd;
   }
}

.template {
   display:none;
}

.clear {
   clear: both;
}


