body {
   padding: 0;
   margin: 0;
   font-family: Helvetica, Arail, sans-serif;
}

header {
   background:#eee;
   color:#555;
   padding:2em 3em;
}

#leader {
   padding: 0.5em 1em;
   background: #e0e0f7;
}

header,
#leader {
   border-bottom: 1px solid #aaa;
}

#notices,
#services {
   list-style-type:none;
}

.service {
   display:inline;
   padding:0.1em 0.3em;
   margin-right:1em;
}
.service.available {
}

.service.unavailable {
}

.service.partial {
}


